* {
    /* ボックスの大きさを算出 */
    box-sizing: border-box;
  }
   
  /* 変数を定義 */
  :root {
    --primary-color: #000;
    --secondary-color: #fff;
  }
   
  html {
    transition: all 0.5s ease-in;
  }
   
   
  body {
    font-family: "Heebo", sans-serif;
    /* ページビューに対して高さ100% */
    height: 100vh;
    /* スクロールを非表示 */
    overflow: hidden;
    margin: 0;
   
    /* flexアイテムにする */
    display: flex;
    /* flex重点の真ん中 */
    align-items: center;
    /* flex横軸の真ん中 */
    justify-content: center;
  }
   
   
  .clock-container {
    display: flex;
    /* flexアイテムを積み重ねるように配置 */
    flex-direction: column;
    /* 各アイテムを均等に配置し
       最初のアイテムは先頭に寄せ、
       最後のアイテムは末尾に寄せる */
    justify-content: space-between;
    align-items: center;
  }




  .needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 65%;
    left: 50%;
    height: 65px;
    width: 2px;
    /* 要素の変形transformにおける原点を設定 */
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
  }
   
  .needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
    width: 3px;
    height: 45px;
  }
   
  .needle.minute {
    transform: translate(-50%, -100%) rotate(125deg);
    height: 55px;
  }
   
  .needle.second {
    transform: translate(-50%, -100%) rotate(290deg);
    width: 1px;
    height: 58px;
    background-color: #e74c3c;
  }
   
  .center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .edge {
    background-color: var(--primary-color);
    width: 122px;
    height: 122px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .base {
    background-color: var(--secondary-color);
    width: 120px;
    height: 120px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
   
  /* 疑似クラス */
  .center-point::after {
    content: "";
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
